.body {
  width: 100%;
  max-width: 1200px;
  font-family: OpenSans;
  margin: auto;
}
@media (min-width: 320px) and (max-width: 480px) {
  .body {
    width: 480px;
  }
}

.navigation {
  padding: 0 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 72px;
  background-color: #fefefbcc;
  z-index: 1;
  width: 1032px;
}
.navigation .navigation-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
}
.navigation .navigation-list .navigation-list__item {
  padding-left: 30px;
  list-style-type: none;
}
.navigation .navigation-list .navigation-list__item .navigation-list__link {
  color: #0A2D4480;
  text-decoration: none;
  font-size: 16px;
}
.navigation .navigation-list .navigation-list__item .navigation-list__link:hover {
  color: #0A2D44;
  text-decoration: none;
}
.navigation .navigation-list .navigation-list__item .navigation-list__link:focus {
  color: #0A2D44;
  outline: none;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.header-wrapper .header-wrapper-left {
  padding-left: 88px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-wrapper .header-wrapper-left {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.header-wrapper .header-wrapper-left .header-wrapper-left__header {
  color: #0196DD;
  font-size: 120px;
  line-height: 112px;
  margin: 0px;
  padding-top: 60px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-wrapper .header-wrapper-left .header-wrapper-left__header {
    width: 120px;
    font-size: 64px;
    line-height: 68px;
  }
}
.header-wrapper .header-wrapper-left .header-wrapper-left__header .header-wrapper-left__header_color {
  color: #F20069;
}
.header-wrapper .header-wrapper-left .header-wrapper-left__text {
  color: #0196DD;
  font-size: 40px;
  line-height: 56px;
  margin: 0px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-wrapper .header-wrapper-left .header-wrapper-left__text {
    font-size: 40px;
    line-height: 56px;
    width: 120px;
  }
}
.header-wrapper .header-wrapper-left .header-wrapper-left__description {
  color: #0A2D44;
  width: 498px;
  margin: 40px 0 56px 0;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-wrapper .header-wrapper-left .header-wrapper-left__description {
    width: 320px;
  }
}
.header-wrapper .header-wrapper-left .header-wrapper-left__button {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 16px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #F5F5F5;
  background-color: #F20069;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header-wrapper .header-wrapper-left .header-wrapper-left__button {
    width: 320px;
  }
}
.header-wrapper .header-wrapper-right__image {
  display: block;
  width: 498px;
  height: 498px;
}

.patients {
  display: flex;
  flex-direction: column;
  padding: 0 88px;
  background-color: #F5F5F5;
}
@media (min-width: 320px) and (max-width: 480px) {
  .patients {
    padding: 0 20px;
  }
}
.patients .patients-header {
  margin: 48px 0 28px;
  align-self: center;
  color: #0196DD;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}
.patients .patients-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 150px;
  margin-bottom: 80px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .patients .patients-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

/* Customize the label (the container) */
.patients-wrapper__container {
  display: block;
  position: relative;
  padding-left: 85px;
  margin-bottom: 42px;
  width: 322px;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.patients-wrapper__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.patients-wrapper__container_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.patients-wrapper__:hover input ~ .patients-wrapper__container_checkmark {
  background-color: #ffffff;
}

/* When the checkbox is checked, add a blue background */
.patients-wrapper__container input:checked ~ .patients-wrapper__container_checkmark {
  background-color: #ffffff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.patients-wrapper__container_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.patients-wrapper__container input:checked ~ .patients-wrapper__container_checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.patients-wrapper__container .patients-wrapper__container_checkmark:after {
  left: 20px;
  top: 5px;
  width: 20px;
  height: 35px;
  border: solid #F3AC08;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.substance {
  display: flex;
  flex-direction: column;
}
.substance .substance__header {
  align-self: center;
  color: #0196DD;
  font-size: 32px;
  line-height: 48px;
}

.substance-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 88px;
}

.substance-right__description {
  color: #0A2D44;
  font-size: 16px;
  line-height: 24px;
  width: 322px;
  margin: 0 0 32px 0;
}
.substance-right__description .substance-right__description_bold {
  font-weight: 700;
}

.substance-right__button {
  margin-top: 73px;
}
.substance-right__button .substance-right__button_decoration {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  font-weight: 700;
  color: #F5F5F5;
  background-color: #0196DD;
}

.section-use-cases {
  background-color: #F5F5F5;
}

.use-cases-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 88px;
}
.use-cases-wrapper .use-cases {
  align-self: center;
  font-size: 32px;
  line-height: 48px;
  color: #0196DD;
}

.leonard, .rebecca, .michael {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-details .user-details__name {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
}
.user-details .user-details__header {
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-top: 0px;
}

.user-image {
  display: block;
}

.use-cases-wrapper__button {
  width: 178px;
  box-sizing: border-box;
  padding: 13px 16px;
  margin: 80px 0;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  font-weight: 700;
  color: #F5F5F5;
  background-color: #0196DD;
  text-align: center;
  align-self: center;
}

.treatment__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 88px;
  align-items: center;
}
.treatment__wrapper .treatment__header {
  font-size: 32px;
  line-height: 48px;
  color: #0196DD;
  font-weight: 700;
}

.scopolamint-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
}
.scopolamint-wrapper .scopolamint-left {
  padding-right: 14px;
}
.scopolamint-wrapper .scopolamint-right {
  padding-left: 14px;
}

.instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.instruction .instruction__header {
  margin: 0 0 15px 0;
  width: 322px;
  color: #0A2D4480;
  font-size: 24px;
  line-height: 48px;
}
.instruction .instruction__text {
  margin: 0 0 15px 0;
  width: 322px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0A2D44;
}

.prescribing-information {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}
.prescribing-information .prescribing-information__text {
  width: 848px;
  margin: 0 0 60px 0;
  color: #0A2D44;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.prescribing-information .prescribing-information__button {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.7px;
  text-decoration: none;
  color: #F5F5F5;
  background-color: #0196DD;
}

.side-effects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-effects .side-effects__header {
  color: #0196DD;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 51px;
}
.side-effects .side-effects-wrapper {
  display: flex;
  flex-direction: column;
}
.side-effects .side-effects__description {
  width: 848px;
  color: #0A2D44;
  font-size: 16px;
  line-height: 24px;
  margin: 9px 0;
}
.side-effects .side-effects__description_bold {
  color: #0A2D44;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 80px;
}

.contact-form {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form .contact-form__header {
  color: #0196DD;
  font-size: 32px;
  line-height: 48px;
  font-weight: 700;
}
.contact-form .contact-form__description {
  color: #0A2D44;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 50px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 400px;
}
.form-wrapper .fullname-wrapper__fullname, .form-wrapper .email-wrapper__email {
  width: 400px;
  margin: 10px 0 20px 0;
}
.form-wrapper .gender-wrapper {
  margin-bottom: 25px;
}
.form-wrapper .subscribe-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-bottom: 73px;
}
.form-wrapper .submit-button {
  display: flex;
  justify-content: center;
}
.form-wrapper .submit-button .submit-button__contact {
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #F5F5F5;
  background-color: #F20069;
  border-style: none;
  margin-bottom: 93px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
}
.footer-wrapper .footer-adress {
  padding-left: 88px;
  width: 342px;
}
.footer-wrapper .footer-adress .footer-adress__text {
  margin: 5px 0;
  font-size: 16px;
  line-height: 22px;
  color: #0A2D44;
}
.footer-wrapper .footer-adress .footer-adress__website {
  font-size: 16px;
  line-height: 22px;
  color: #0A2D44;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.footer-wrapper .footer-adress .footer-adress__link {
  font-size: 16px;
  line-height: 24px;
  color: #0A2D44;
  padding-right: 10px;
}
.footer-wrapper .footer-social {
  padding-right: 88px;
}
.footer-wrapper .footer-social .social-items__item {
  padding: 56px 16px 0 0;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0 40px 0;
}
.footer-copyright .footer-copyright__text {
  margin: 5px 0;
}

/*# sourceMappingURL=styles.css.map */
