.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 80px;
    & .footer-adress{
        padding-left: 88px;
        width: 342px;
        & .footer-adress__text{
            margin: 5px 0;
            font-size: 16px;
            line-height: 22px;
            color: $dark-blue-color;
        }
        & .footer-adress__website{
            font-size: 16px;
            line-height: 22px;
            color: $dark-blue-color;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 40px;
        }
        & .footer-adress__link{
            font-size: 16px;
            line-height: 24px;
            color: $dark-blue-color;
            padding-right: 10px;
        }
    }
    & .footer-social{
        padding-right: 88px;
        & .social-items__item{
            padding: 56px 16px 0 0;
        }
    }
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 40px 0;
    & .footer-copyright__text{
        margin: 5px 0;
    }
}
