.patients{
    display:flex;
    flex-direction: column;
    padding: 0 88px;
    background-color: $white-color;
    @include small-devices { 
      padding: 0 20px;
   }
     & .patients-header{
        margin: 48px 0 28px;
        align-self: center;
        color: $blue-color;
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
     }
    & .patients-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        height: 150px;
        margin-bottom: 80px;
        @include small-devices { 
          display: flex;
          flex-direction: column;   
          flex-wrap: nowrap;
       }
    }
}

/* Customize the label (the container) */
.patients-wrapper__container {
    display: block;
    position: relative;
    padding-left: 85px;
    margin-bottom: 42px;
    width: 322px;
    cursor: pointer;
    font-size: 16px;
    line-height: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .patients-wrapper__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .patients-wrapper__container_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background-color: $text-color;
  }
  
  /* On mouse-over, add a grey background color */
  .patients-wrapper__:hover input ~ .patients-wrapper__container_checkmark {
    background-color: $text-color;
  }
  
  /* When the checkbox is checked, add a blue background */
  .patients-wrapper__container input:checked ~ .patients-wrapper__container_checkmark {
    background-color: $text-color;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .patients-wrapper__container_checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .patients-wrapper__container input:checked ~ .patients-wrapper__container_checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .patients-wrapper__container .patients-wrapper__container_checkmark:after {
    left: 20px;
    top: 5px;
    width: 20px;
    height: 35px;
    border: solid $gold-color;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
