.navigation {
    padding: 0 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top:0;
    height: 72px;
    background-color:$white-color-opacity;
    z-index: 1;
    width: 1032px;

    & .navigation__logo{
        // background-image: url("../images/scopolamint_logo.png");
        @include small-devices {    
            // background-image: url("../images/logo_small.png")
         }
    }
    & .navigation-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-transform: uppercase;
        & .navigation-list__item {
            padding-left: 30px;
            list-style-type: none;
            & .navigation-list__link {
                color: $dark-blue-color-opacity;
                text-decoration: none;
                font-size: 16px;
            }
            & .navigation-list__link:hover {
                color: $dark-blue-color;
                text-decoration: none;
            }
            & .navigation-list__link:focus {
                color: $dark-blue-color;
                outline: none;
            }
        }
    }
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    @include small-devices {    
        display: flex;
        flex-direction: column;
        // width: 100%;
     }
    & .header-wrapper-left{
        padding-left: 88px;
        @include small-devices {    
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
         }
        & .header-wrapper-left__header{
            color: $blue-color;
            font-size: 120px;
            line-height: 112px;
            margin: 0px;
            padding-top: 60px;
            @include small-devices {
                width: 120px;    
                font-size: 64px;
                line-height: 68px;
             }
            & .header-wrapper-left__header_color{
                color: $pink-color;
            }
        }
        & .header-wrapper-left__text{
            color: $blue-color;
            font-size: 40px;
            line-height: 56px;
            margin: 0px;
            @include small-devices {    
                font-size: 40px;
                line-height: 56px;
                width: 120px; 
             }
        }
        & .header-wrapper-left__description{
            color: $dark-blue-color;
            width: 498px;
            margin: 40px 0 56px 0;
            @include small-devices {    
                width: 320px;
             }
        }
        & .header-wrapper-left__button{
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 16px 20px;
            font-size: 16px;
            text-decoration: none;
            color: $white-color;
            background-color: $pink-color;
            @include small-devices {    
                width: 320px;
             }
        }
    }
    & .header-wrapper-right__image{
        display: block;
        width: 498px;
        height: 498px;
        // background-image: url("../images/couple.png");
    }
}