.side-effects{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .side-effects__header{
        color: $blue-color;
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
        margin-bottom: 51px;
        // align-self: center;
    }
    & .side-effects-wrapper{
        display: flex;
        flex-direction: column;
    }
    & .side-effects__description{
        width: 848px;
        color: $dark-blue-color;
        font-size: 16px;
        line-height: 24px;
        margin: 9px 0;
    }
    & .side-effects__description_bold{
        color: $dark-blue-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 80px;
    }
}