.substance{
    display: flex;
    flex-direction: column;
    & .substance__header{
        align-self: center;
        color: $blue-color;
        font-size: 32px;
        line-height: 48px;
    }
}

.substance-wrapper{
    display:flex;
    flex-direction: row;    
    justify-content: space-evenly;
    padding: 0 88px;
}

.substance-right__description{
    color: $dark-blue-color;
    font-size: 16px;
    line-height: 24px;
    width: 322px;
    margin: 0 0 32px 0;
    & .substance-right__description_bold{
        font-weight: 700;
    }
}

.substance-right__button{
        margin-top: 73px;
    & .substance-right__button_decoration{
        box-sizing: border-box;
        text-transform: uppercase;
        padding: 13px 20px;
        font-size: 16px;
        line-height: 22px;
        text-decoration: none;
        font-weight: 700;
        color: $white-color;
        background-color: $blue-color;
    }
}