.treatment__wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 88px;
    align-items: center;
.treatment__header{
        font-size: 32px;
        line-height: 48px;
        color: $blue-color;
        font-weight: 700;
}
}

.scopolamint-wrapper{
        display: flex;
        flex-direction: row;
        margin-bottom: 80px;
        & .scopolamint-left{
            padding-right: 14px;
        }
        & .scopolamint-right{
            padding-left: 14px;
        }
    }

.instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
    & .instruction__header{
        margin: 0 0 15px 0;
        width: 322px;
        color: $dark-blue-color-opacity;
        font-size: 24px;
        line-height: 48px;
    }
    & .instruction__text{
        margin: 0 0 15px 0;
        width: 322px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        color: $dark-blue-color;
    }
}

.prescribing-information{
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
    & .prescribing-information__text{
        width: 848px;
        margin: 0 0 60px 0;
        color: $dark-blue-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    & .prescribing-information__button{
        box-sizing: border-box;
        text-transform: uppercase;
        padding: 13px 20px;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.7px;
        text-decoration: none;
        color: $white-color;
        background-color: $blue-color;
    }
}