.contact-form{
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    & .contact-form__header{
        color: $blue-color;
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
    }
    & .contact-form__description{
        color: $dark-blue-color;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        margin-bottom: 50px;

    }
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    & .fullname-wrapper__fullname, .email-wrapper__email{
        width: 400px;
        margin: 10px 0 20px 0;
    }
    & .gender-wrapper{
        margin-bottom: 25px;
    }
    & .subscribe-wrapper{
        display: flex;
        justify-content: flex-end;
        padding-right: 20px;
        margin-bottom: 73px;
    }
    & .submit-button{
        display: flex;
        justify-content: center;
        & .submit-button__contact{
            box-sizing: border-box;
            text-transform: uppercase;
            padding: 13px 20px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
            color: $white-color;
            background-color: $pink-color;
            border-style: none;
            margin-bottom: 93px;
        }
    }
}