.section-use-cases{
    background-color: $white-color;
}
.use-cases-wrapper{
    display: flex;
    flex-direction: column;
    margin: 0 88px;
    & .use-cases{
        align-self: center;
        font-size: 32px;
        line-height: 48px;
        color: $blue-color;
    }
}

.leonard, .rebecca, .michael{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-details{
    & .user-details__name{
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        font-weight: 700;
    }
    & .user-details__header{
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
        margin-top: 0px;
    }
}

.user-image{
    display: block;
}


.use-cases-wrapper__button{
    width: 178px;
    box-sizing: border-box;
    padding: 13px 16px;
    margin: 80px 0;
    font-size: 16px;
    line-height: 22px;
    text-decoration: none;
    font-weight: 700;
    color: $white-color;
    background-color: $blue-color;
    text-align: center;
    align-self: center;
}