$white-color: #F5F5F5;
$text-color: #ffffff;
$white-color-opacity: #fefefbcc;
$blue-color: #0196DD;
$dark-blue-color: #0A2D44;
$dark-blue-color-opacity: #0A2D4480;
$pink-color: #F20069;
$gold-color: #F3AC08;

@mixin small-devices {
 
    @media (min-width : 320px) and (max-width : 480px) { @content; }
      
    }

.body{
    width: 100%;
    max-width: 1200px;
    font-family: OpenSans;
    margin: auto;
    @include small-devices {    
        width: 480px;
     }
}




@import '_say_yes';
@import '_patients';
@import '_substance';
@import '_use_cases';
@import '_treatment';
@import '_side_effects';
@import '_treatment_of_heartburn';
@import '_footer';